* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
  color: #fff;
}

body {
  padding: 2rem;
  background-color: #111;
}

p {
  text-align: center;
}

a {
  text-decoration: none;
}
